venv_icd
secret.txt
icd11_mms_crawled_entities
icd11_mms_crawled_entities_iterative
icd11_mms_crawled_entities_recursive
crawling_results_23
crawling_results_25
Vectorization
icd11_data500csv.txt
Untitled-1.ipynb
.env
*.pdf
*.rtf
temp_descriptions_progress.csv
__pycache__
icd11_gatortron_vectors_no_coma.csv